<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.purdue.tech.tecsupmobilebankingproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Transfer"
            android:label="@string/title_activity_transfer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Withdrawal"
            android:label="@string/title_activity_withdrawal" >
        </activity>
        <activity
            android:name=".Login2"
            android:label="@string/title_activity_login2" >
        </activity>
        <activity
            android:name=".Deposit"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name=".TransactionList"
            android:label="@string/title_activity_transaction_list" >
        </activity>
    </application>

</manifest>
